<div id="conference" class="conference-section">
  <h2>Conference</h2>
  <div id="peers-container"></div>
</div>

<!-- <video *ngFor="let peer of peers" autoplay muted playsinline width="320" height="240" src="peer.videoTrack">peer.name</video> -->

<div *ngIf="!isPeerConnected" class="input-container">
  <h2>Join Room</h2>
  <input [(ngModel)]="name" type="text" name="username" placeholder="Your name" />
  <input [(ngModel)]="token" type="text" name="token" placeholder="Auth token" />
</div>
<button  *ngIf="!isPeerConnected" type="button" class="btn-primary" (click)="joinVC()">Join</button>
<button  *ngIf="isPeerConnected" type="button" class="btn-primary" (click)="leaveRoom()">Leave</button>
<div  *ngIf="isPeerConnected" id="controls">
  <button [(ngModel)]="muteAud" id="mute-aud" (click)="muteAudio()">Mute</button>
  <button [(ngModel)]="muteVid" id="mute-vid" (click)="hideVideo()">Hide</button>
</div>

<router-outlet></router-outlet>
